asgiref==3.4.1
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.7.1
diff-match-patch==20200713
dj-database-url==0.5.0
Django==3.2.8
django-cors-headers==3.10.0
django-countries==7.2.1
django-crispy-forms==1.13.0
django-environ==0.8.1
django-filter==21.1
django-guardian==2.4.0
django-import-export==2.7.1
django-on-heroku==1.1.2
django-phonenumber-field==6.0.0
django-rest-jwt-registration @ git+https://github.com/janos-gonye/django-rest-jwt-registration.git@d16389f66ae8a87bcb6ac7df51394329aa8e6a05
django-treebeard==4.5.1
django-versatileimagefield==2.2
djangorestframework==3.12.4
djangorestframework-guardian==0.3.0
djangorestframework-simplejwt==5.0.0
drf-openapi3==0.1.25
drf-spectacular==0.21.1
et-xmlfile==1.1.0
gunicorn==20.1.0
idna==3.3
importlib-resources==5.4.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
jsonschema==4.4.0
Markdown==3.3.4
MarkupPy==1.14
MarkupSafe==2.0.1
odfpy==1.4.1
openapi-codec==1.3.2
openpyxl==3.0.9
phonenumberslite==8.12.39
Pillow==8.4.0
psycopg2==2.9.1
PyJWT==2.3.0
pyrsistent==0.18.1
python-magic==0.4.24
pytz==2021.3
PyYAML==6.0
requests==2.26.0
simplejson==3.17.6
sqlparse==0.4.2
tablib==3.2.0
uritemplate==4.1.1
urllib3==1.26.7
whitenoise==5.3.0
xlrd==2.0.1
xlwt==1.3.0
zipp==3.7.0
